<tr>
 <td class="align-center-table pt-[15px] pb-[15px] bg-white"><table class="w-[600px] align-center-table">
   <tr>
    <td class="align-center-table"><table>
      <tr>
       <td class="align-middle"><table>
         <tbody>
          <tr>
           <th class="align-center-table align-top"><table class="align-left-table w-[90px] max-w-[90px]">
             <tr>
              <td class="align-left-table align-middle"><table class="align-left-table w-[70px] max-w-[70px]">
                <tr>
                 <td class="align-center-table align-middle sm:inline-block"><x-image class="w-[110px]" imgUrl="images/image-2.png"/></td>
                </tr>
               </table></td>
             </tr>
            </table></th>
           <th class="align-center-table align-top"> <table class="align-right-table w-[510px] max-w-[510px]">
             <tr>
              <td class="align-left-table align-middle h-[70px]" align="left" valign="middle"><table class="align-center-table max-w-[510px]">
                <tr>
                 <td class="align-left-table align-top sm:inline-block"><p class="text-[#002B2B] text-[12px] leading-[14px] text-justify font-normal no-underline">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p></td>
                </tr>
                
               </table></td>
             </tr>
            </table>
           </th>
										</tr>
         </tbody>
        </table></td>
      </tr>
     </table></td>
   </tr>
  </table></td>
</tr>
